# Build directories
/build/
bin/
obj/
# Compiled object files
*.o
*.obj
# Python cache files
__pycache__/
*.py[cod]
# Executables
viewer
viewer_debug
*.exe
*.out
*.app
# Precompiled headers
*.gch
*.pch
# Debugger and linker files
*.pdb
*.ilk
# Compiled libraries
*.so
*.dylib
*.dll
*.a
*.lib
# IDE-specific files (e.g., Visual Studio, Code::Blocks)
vscode/
*.sln
*.user
*.layout
.clangd
# agent files
*.agent
.claude/
fx/Icon
report/
.vscode/
